body {
  margin: 0;
  padding-top: 80px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  padding: 0 15px;
  margin: 0 5%;
}

.navbar {
  margin-bottom: 30px;
  border-bottom: 3px solid #e7e7e7;
}

#text-right {
  text-align: right;
  width: 200px;
}

span.navbar-brand > a {
  color: black;
  transition: 0.3s;
}
span.navbar-brand > a:hover {
  color: rgb(75, 181, 67);
  text-decoration: none;
}

i#home {
  color: rgb(75, 181, 67);
  transition: 0.3s;
}
i#home:hover {
  color: black;
}

i#cart {
  color: rgb(253, 93, 44);
  margin-right: 3px;
  transition: 0.3s;
}
i#cart:hover {
  color: black;
}

a#basic-nav-dropdown {
  color: rgba(0, 0, 0, 0.5);
}
a#basic-nav-dropdown:hover {
  color: rgba(0, 0, 0, 0.7);
}
a#basic-nav-dropdown:focus {
  color: rgba(0, 0, 0, 0.9);
}

.dropdown {
  left: -60px;
}

.dropdown-menu > a {
  color: black;
  transition: 0.5s;
  border: none;
}
.dropdown-menu > a.active {
  background-color: rgb(75, 181, 67);
  border-color: rgb(75, 181, 67);
  color: white;
}
.dropdown-menu > a:hover {
  background-color: #f0f0f0;
  color: black;
  /* box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); */
  text-decoration: none;
}
.dropdown-menu > a:focus {
  background-color: rgb(75, 181, 67);
  color: white;
}

.col-3 > ul.list-group {
  position: fixed;
  width: 20%;
}

.col-3 > ul li.list-group-item {
  cursor: pointer;
  transition: 0.5s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.col-3 > ul li.list-group-item:hover {
  background-color: #f8f8f8;
}
.col-3 > ul li.list-group-item:active {
  background-color: rgb(75, 181, 67);
  color: white;
}

.col-3 > ul li.list-group-item.active {
  background-color: rgb(75, 181, 67);
  border-color: rgb(75, 181, 67);
  color: white;
}

div.card-div {
  margin-bottom: 30px;
}

div.card {
  padding: 0;
}

div.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.card-footer {
  padding: 0;
}

div.card-footer div.row {
  padding: 0 15px 0 15px;
}

div.text-center {
  padding-top: 6px;
}

@media (min-width: 767.02px) {
  div.dropdown-menu.show {
    right: 1px;
    left: auto;
  }

  #thumbnail {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-size: cover;
  }
}

@media (max-width: 767.01px) {
  #thumbnail {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: cover;
  }

  .hidden-list {
    display: none;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 0 10px;
    margin: 0 5px;
  }

  .col-3 > ul li.list-group-item {
    padding: 20px 3px;
  }
}
